rules_version = '2';
service cloud.firestore {
  match /databases/{db}/documents {
    match /arenas/{arenaId} {
      allow read, write: if request.auth != null; // DEV
      match /presence/{playerId} {
        allow read, write: if request.auth != null; // DEV
      }
      match /state/{documentId} {
        allow read, write: if request.auth != null; // DEV
      }
    }
    match /players/{playerId} {
      allow read, write: if request.auth != null; // DEV
    }
    match /passcodes/{doc} {
      allow read, write: if request.auth != null; // DEV
    }
    match /leaderboard/{doc} {
      allow read, write: if request.auth != null; // DEV
    }
  }
}
