rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function authed() {
      return request.auth != null;
    }

    match /arenas/{arenaId} {
      allow read, write: if authed();

      match /presence/{presenceId} {
        allow read, write: if authed();
      }

      match /state/{stateId} {
        allow read, write: if authed();
      }

      match /inputs/{presenceId} {
        allow read, write: if authed();

        match /events/{eventId} {
          allow read, write: if authed();
        }
      }
    }

    match /players/{playerId} {
      allow read, write: if authed();
    }

    match /leaderboard/{entryId} {
      allow read, write: if authed();
    }

    match /{document=**} {
      allow read, write: if authed();
    }
  }
}
